html, body {
  width: 100%;
  height: 100%;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-top: 20px;
  color: #fff;
}

#main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
  margin-top: 48px;
  background-color: crimson;
  border-radius: 8px;
}

#main-content {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: row;
}

#main-content > * {
  display: flex;
  flex: 1 1 0px;
  background-color: #fff;
  margin: 12px;
  border-radius: 4px;
  padding: 8px;
}

#search-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#search-container > * {
  margin: 0px 8px;
}

#search-btn {
  background-color: #ccc;
  border-color: #ddd;
  padding: 0px 12px;
}

#poke-content {
  display: flex;
  flex-direction: column;
  padding: 12px 0;
}

#poke-details {
  display: flex;
  flex-direction: column;
  margin: 24px 12px;
}

.information {
  font-size: 14px;
  margin: 4px;
}

.stats-container {
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 12px;
  display: flex;
  flex-direction: row;
}

.stats-container > * {
  flex: 1 1 0px;
}

.stats-bars {
  margin: 4px;
}

.stat-bar {
  width: 100%;
  background-color: yellow;
  height: 6px;
  margin: 6.2px;
}

#poke-stats{
  font-size: 12px;
}

#poke-preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(https://64.media.tumblr.com/1983d6e1a37f22572762d169e0805647/tumblr_o9srs7NmZf1u6i8k5o1_400.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid #fff;
}